header {
    overflow: hidden;
}

#top-header{

    text-align: center;
    height: 60px;
}

#logo{
    float: left;
    padding: 1px;
    /*margin: 10px;*/
    height: 60px;
    width: 30%;
}

#logo img {
    width: 30%;
    height: 53px;
    float: left;
    padding: 1px 0px;
}



#menu{
    float: right;
    width: 70%;
    height: 60px;
    /*margin: none;*/
}

#menu ul{
    text-align: center;
    float: right;
    /*margin: none;*/
    background: #4a535b;
}

#menu li{
    display: inline-block;
    /*padding: none;*/
    /*margin: none;*/
}

#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}

#menu li a{
    color: #fff;
}

#menu li:hover a, #menu li span{
    background: #fff;
    /*color: #0074d9;*/
    color: #4a535b;
    border-left: 1px solid #4a535b;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}






