#mainTitle {
    text-align: center;
    color:#4a535b;
    font-family: Arial;
    font-size: xx-large;
    background-color: orange;
    line-height: 60px;

}

/*.headBackground {*/
/*    background-color: orange;*/
/*}*/